*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(Imagenes2/Imagen2MKB.jfif);
    width: 100;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}


.container {
    width: 100%;
    display: flex;
    max-width: 1100px;
    
}

.card {
    width: 40%;
    margin: 20px;
    border-radius: 3px;
    overflow: hidden;
    background-color: wheat;
    cursor: default;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 2);

    h3 {
        text-align: center;
        color: #e64526;
        text-shadow: 
        -1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black,
        1px -1px 0 black;
    }
}

.mapa {
    margin-top: 5%;
    margin-left: 4%;
    margin-right: 0%;
}


.container-nav{
    background-color:black ; /*#3E333F*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding-bottom: 15px;
}

.container-nav a{

    color:#F7DC6F;
    font-size: 25px;
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
}

.container-nav a:hover{
    color:#F2613F;}
    footer{
        background-color: black;
        text-align: center;
        padding-top: 10px;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
        font-family: "Roboto", sans-serif;
    }
    
    footer a:hover{
        color:#EEDF7A;
    }
    
    .footer-link{
        text-decoration: none;
        color:#F2F2F2;
       padding:0 35px 0 35px;
       font-family: "Roboto", sans-serif;
        font-weight: 900;
        font-style: normal;
    
    }
    
    section{
        margin-top: 2%;
        background-color: rgba(0, 0, 0, 0.8);
        margin-left: 3%;
        margin-right: 3%;
        margin-bottom: 8rem;
    }

